/* 共通レイアウト */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500&display=swap');
.about * {
    font-family: 'M PLUS 1p', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding:0;
}
.about{
    margin-top: 60px;
}
.about img{
    display: block;
    margin: auto;
}
.about :first-child{
    margin-top: 30px;
}
.about :not(:first-child) {
    margin-top: 30px;
}
.about :last-child{
    margin-bottom: 30px;
}
.about h1,
.about h2,
.about h3,
.about h4{
    /* 見出し単体の時の装飾 */
    display: flex;
    justify-content: center;
    color:#FFF;
}
.about div[column]{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.about div[column]>div {
    width: 100%;
    margin: 0 10px;
}
div[column] div.main{
    background-color: rgb(255, 255, 253);
    border: solid 10px #b0bb99;
    margin-right: 5px;
    margin-left: 5px;
}
.about div.main {
    /* 枠のデザイン */
    background-color: rgb(255, 255, 253);
    border: solid 10px #5f7037;
    border-radius: 10px;
    margin:30px 30px 0 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* 枠内の文字の設定 */
    font-size:20px;
}

.about div.main h1,
.about div.main h2,
.about div.main h3,
.about div.main h4{
    color:#000;
    border-bottom:solid 2px #000;
    padding-bottom: 15px;
    margin: 0 40%;
}
.about div.main p{
    margin:0 5px;
    padding: 25px 0;
}
.about div.shrink{
    margin-left: 27%;
    margin-right: 27%;
}
.about div.other{
    background-color: rgba(63, 62, 60, 0.853);
    color: #FFF;
    font-size:18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:40px 0;
}
.about div.other h1,
.about div.other h2,
.about div.other h3,
.about div.other h4{
    color:rgb(255, 255, 255);
    border-bottom:solid 1px rgb(255, 255, 255);
    margin:0 0;
    padding-bottom: 20px;
}

.about ul.list_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about ul.list_box li{
    background-color: #fffcf8;
    border: solid 3px rgb(66, 54, 40);
    border-radius: 7px;
    height: auto;
    width: 280px;
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:20px;
}
.about ul.list_box li p{
    margin: 20px 10px;
    width: 250px;
}
.about ul.list_box li img{
    margin: 10px;
    object-fit: cover;
    height: 250px;
    width: 250px;
}
.about iframe{
    display: block;
    margin: 0 auto;
}

/* PC用レイアウト */
@media screen and (min-width:960px){
}
/* スマホ・タブレット用スタイル */
/* SE二世代より大きいサイズにスマホ、タブレットを想定したレイアウトです。 */
@media only screen and (max-width:959px) and (min-width:415px){
}
/* スマホ用スタイル */
/* iPhoneSE二世代目より下のサイズを想定したレイアウトです。 */
@media screen and (max-width:414px){
}
